*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(24,42,46,1) 33%, rgba(6,21,24,1) 73%, rgba(6,21,24,1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}

.buscador{
    display: flex;
    align-items: center;
    justify-content: center;
}

.barraBusqueda{
    height: 40px;
    width: 500px;
    border-radius: 10px;
    background-color: aliceblue;
    margin-right: 10px;
    padding: 20px;
    font-size: 15px;
}

.barraBusqueda:hover{
    border-color: bisque;
    background-color: azure;
}

.botonBusqueda{
    height: 40px;
    width: 50px;
    border-radius: 10px;
    background-color: aliceblue;
}

.botonBusqueda:hover{
    border-color: bisque;
    background-color: azure;
}

.botonBusqueda img{
    height: 30px;
    width: 30px;
}

.grupoEnlacesHeader{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.centro{
    flex: 1;
    margin-top: 80px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
}

.menubar{
    background-color: black;
    padding: 20px;
}

.izquierda{
    position: fixed;
    left: 0;
    height: 100%;
    width: 15%;
}

.izquierda nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.central{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vh;
}

.derecha{
    position: fixed;
    right: 0;
    height: 100%;
    width: 15%;
}

.feed{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.feedback{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}